
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-family: sans-serif;
}

.participantIDError {
  text-align: center;
  align-items: center;
  
  margin: 5;
  padding: 5;
  background: #eee;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-family: sans-serif;
  font-size: 14;
  color: #55b;
  border: 1px solid #888;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}


.appDebugText {
  text-align: left;
  align-items: left;
  justify-content: left;
  height: 100%;
  width: 20%;
  font-size: 10px;
  color: #22a;
  border: 1px solid #888;
}


.button {

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: #555; 
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


/*
Consent Screen Styles
*/

.consent{

}

/*
Demographics Screen Styles
*/

.demographicsSurvey  {
  font-size: 8pt ;
  
  background: #eee;
  border: 1px solid #000;
}

.demographicsSurvey li {
  list-style-type: circle;
  margin: 1rem 0.2rem 0.5rem ;
}
.demographicsSurvey input {
  margin: 0rem 0.5rem ;
  width: 50px;
}
.demographicsSurvey select {
  margin: 0rem 0.5rem ;
}

/*
Completion Screen Styles
*/

.completionSurvey  {
  font-size: 8pt ;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  background: #eee;
  border: 1px solid #000;
}


.participantCommentBox {
  margin: 0rem 0.5rem ;
  width: 60%;
  height: 150px
}


/*
Instructions Screen Styles
*/

.instructionsButtonContainer {
    display: inline-block;
    width: 50%;
    height: 15%;
    text-align: center;
    
}

.instructionsTextBox{
  height: 80%;
  align-content: center;
  font-size: 10pt ;
  background: #eee;
  padding: 1rem 1rem;
  border: 1px solid #000;
}

.instructionsText{
  width: 75%;
 
}

.instructionsText li {
  list-style-type: circle;
  margin: 1.0rem 0.5rem ;
}

.buttonInstructions{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 5px 10px 5px 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: #aaf; 
    border: 1px solid #000;
}

.buttonInstructions:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.buttonInstructionsHidden{
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    padding: 5px 10px 5px 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    display: inline-block;
    font-size: 20px;
    color: #bbb;

    background-color: #999; 
    border: 1px solid #000;
}

.buttonContainer {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 12px;
    background: #eee;
    border: 1px solid #000; 
}


/*
Experiment Screen Styles
*/


@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 0.5rem 1.5rem 0;
  font-size: 14px;
}

/* QuestionCount Component */
.blockCount {
  padding: 0rem 1.5rem 0;
  font-size: 14px;
}

/* QuestionCount Component */
.expDebugText {
  text-align: left;
  align-items: left;
  justify-content: left;
  height: 100%;
  width: 20%;
  font-size: 8px;
  color: #a22;
  border: 1px solid #888;
}



/* Question Component */

.experimentContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

.answerBlockingScreen {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #e1e;
  height: 100%;
  opacity: 0;
  z-index: 15;
  border: 1px solid #f00;
}

.answerContainer {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #eee;
  height: 100%;
  z-index: 1;

}

/* AnswerOption Component */
.answerOption {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 70px;
  border: 1px solid #000;
  background: #fff;
  z-index:5;
}

.no_signal{
  vertical-align: top;
  display: table;
  width: 100%;
  height: 100%;
  z-index:3;
}

.nonSelectable{
  vertical-align: top;
  display: table;
  width: 100%;
  height: 100%;
  z-index:3;
}

.smiley_img {
  vertical-align: top;
  display: table;
  width: 100%;
  height: 100%;
  z-index:3;
}

.frown_img {
  vertical-align: top;
  display: table;
  height: 100%;
  width: 100%;
  z-index:3;
}

.no_signal:hover {
  background-color: #eefbfe;
  z-index:3;
  
}

.nonSelectable:hover {
  background-color: #eefbfe;
  z-index:3;
  
}

.smiley_img:hover {
  background-color: #eefbfe;
  z-index:3;
  
}

.frown_img:hover {
  background-color: #eefbfe;
  z-index:3;
}

.radioCustomButton {
    height: 0%;
    width: 0%;
    opacity: 1;
    display: none;
}


.radioCustomLabel {
    display: table-cell;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem ;
    height: 100%;
    font-size: 20px;
    border: 1px solid #aaa;
}

.radioCustomButton ~ .radioCustomLabel:before {
   
    content: '';
    display: inline-block;
    
    background: #fff;
    border: 1px solid #0f0;
    height: 100%;
    transition: all 0.3s;
    opacity: 0;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}



.fullTrialContent {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.singular{
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #aaa;
    
}
.question{
  width: 40%;
  
  text-align: center;
  align-items: center;
  justify-content: center;

}
.experimentContentSize{
  
    
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.experimentContentPlural{
  
  float: center;
  text-align: center;
  align-items: center;
  justify-content: center;
 
}

.sizegrid{
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pluralgrid{
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 80%;
  z-index: 1;
}
.pluralgrid div {
    
    width: 33%;
    height: 33%;
    float: left;
}
.middle {
    
}

.updown {
    
}
.leftright {
    
}


